body, html{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

header{
	padding: 20px;
	background: #659394;
}

.center{
	max-width: 1056px;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

.wapik{
	font-size: 18px;
	font-family: "Myriad Pro";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px solid #669495;
	padding: 10px 20px;
}

.phone{
	padding: 10px 20px;
	padding-left: 20px;
}

.phone-text{
	font-size: 16px;
	font-family: "Myriad Pro";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 10px 0px;
}

.touch-menu{
	padding: 10px;
	background: #7B4343;
	display: none;
	border-radius: 2px;
	background: #c5bfbf;
}

.touch-menu span{
	display: block;
	width: 20px;
	padding: 1px;
	background: #FFFFFF;
}

.touch-menu .oy{margin-top: 3px;}

.nav ul{
	padding: 0px;
	margin: 0px;
}

.nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 25px;
}

.nav ul li a{
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	font-family: "Myriad Pro";
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 2px;
}

.nav ul li:first-child{margin-left: 0px;}

.nav ul li:active, .nav ul li a:hover{
	background-color: rgb(255, 255, 255);
	opacity: 0.349;
	color: #382C2C;	
}

.inl{
	display: inline-block;
	vertical-align: top;
}

.clear:before, .clear:after{
	content: "";
	display: table;
}

.clear:after{clear: both;}

.left{float: left;}

.right{float: right;}

.masthead{
	position: relative;
	overflow: hidden;
}

.masthead img, .back{
	width: 100%;
	height: auto;
}

.masthead .headline{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.ots{margin-top: 150px;}

.text{
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
	width: 85%;
	color: #fff;
	font-size: 50px;
	font-family: "Robot";
	line-height: 1.2;
	background: rgba(0, 0, 0, 0.3);
}

.ots button{
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
  	font-family: "Montserrat";
	color: #fff;
	margin: 0 auto;
	display: block;
	padding: 15px;
	background: #6fb048;
	border: none;
	margin-top: 45px;
	cursor: pointer;
}

.section-about-us{
	background: #ffffff;
	padding-top: 8em;
	padding-bottom: 13em;
	text-align: center;
	margin-top: -5px;
	color: #83a7a5;
}

.section-heading{
	font-family: "Robot";
	font-size: 32px;
}

.line{
	width: 65px;
	margin: 0 auto;
	padding: 1px;
	background: #fff;
	margin-top: 25px;
	margin-bottom: 45px;
	background: #6fb048;
}

.text2{
	font-size: 22px;
	font-family: "Myriad Pro";
	max-width: 703px;
	width: 80%;
	margin: 0 auto;
}

.section, .section1{margin-top: 90px;}

.section .pad img{
	width: 20%;
	height: auto;
}

.section .pad1 img{border: 1px solid #fff;}

.text-1{margin-top: 37px;}

.text-2{margin-top: 30px;}

.text-3{margin-top: 45px;}

.pad{
	padding: 10px;
	width: 20%;
	font-size: 20px;
  	font-family: "Roboto";
}

.pad1{
	padding: 10px;
	text-align: left;
}

.text3{
	margin-top: 25px;
	font-size: 18px;
	font-family: "Roboto";
	max-width: 288px;
	width: 100%;
}

.section-our-team{
	background: #eef1ec;
	padding-top: 8em;
	padding-bottom: 13em;
	text-align: center;
	margin-top: -5px;
	color: #83a7a5;
}

.name{
	margin-top: 20px;
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(15, 95, 92);
}

.prof{
	margin-top: 5px;
	font-size: 16px;
	font-family: "Robot";
}

.call-to-action{
	background-image: url('../img/layer-2.png');
	height: 200px;
	color: #FFF;
	font-family: "Myriad Pro";

}

.ots-1{
	padding-top: 75px;
	padding-left: 220px;
}

.tx-1{font-size: 28px;}

.tx-2{
	font-size: 15px;
	margin-top: 5px;
}

.p-button{margin-left: 260px;}

.p-button button{
	border-radius: 2px;
	background-color: rgb(73, 115, 47);
	width: 285px;
	height: 42px;
	border: none;
	cursor: pointer;
}

.p-button button span{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
}

footer{
	padding-top: 95px;
	padding-bottom: 20px;
	background: #fff;
	font-family: "Myriad Pro";
}

.margin{margin-left: 90px;}

.margin-icon{margin-left: 5px;}

.top-footer{
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	padding-bottom: 60px;
	border-bottom: 1px solid #eef1ec;
}

.info, .company, .others, .newsletter{
	padding: 20px;
}

.info{
	font-size: 13px;
	color: rgb(15, 95, 92);
	text-transform: uppercase;
	width: 220px;
}

.info-tx{
	margin-top: 5px;
	color: rgb(131, 167, 165);
	line-height: 2.154;
	width: 114px;
	text-transform: none;
}

.newsletter-tx{
	margin-top: 5px;
	font-size: 13px;
	font-family: "Myriad Pro";
	color: rgb(131, 167, 165);
	width: 210px;
}

.info-tx .info-tx-tx{width: 200px;}

.company, .others, .newsletter{
	font-size: 13px;
	font-family: "Roboto";
	color: rgb(15, 95, 92);
}

.company-menu, .others-menu{margin-top: 5px;}

.company-menu ul, .others-menu ul{
	margin: 0px;
	padding: 0px;
}

.company-menu ul li, .others-menu ul li{list-style-type: none;}

.company-menu ul li a, .others-menu ul li a{
	text-decoration: none;
	display: block;
	padding: 5px 0px;
	color: rgb(131, 167, 165);
}

.newsletter input{
	margin-top: 20px;
	border-radius: 3px;
	background-color: rgb(238, 241, 236);
	padding: 10px;
	border: none;
	width: 240px;
	background-image: url('../img/vector.png');   
    background-repeat: no-repeat;  
    background-position: 220px;
}

.bottom-footer{
	padding: 10px;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	margin-top: 30px;
}

.text-k{
	float: left;
	font-size: 12px;
	font-family: "Myriad Pro";
	color: rgb(131, 167, 165);
}

.soc{
	float: right;
	margin-right: 30px;
}

.soc img{cursor: pointer;}

@media screen and (max-width: 990px){
	.wapik{padding: 10px 0px;}

	.phone{
		padding: 12px 5px;
    	padding-left: 5px;
	}

	header{position: relative;}

	.touch-menu{display: block;}

	.nav{
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 10;
		display: none;
		background: #659394;
	}

	.nav ul li{
		display: block;
		margin-left: 0px;
	}

	.nav ul li a{
		padding: 15px 20px;
	}

	.nav ul li a:hover{
		background: #554CC8;
		color: #221F1F;
		opacity: 1;
		border-right: 5px solid #482A2A;
	}
	
	.masthead .back{
		width: inherit;
		height: auto;
	}

	.section .pad{width: 26%;}

	.section-about-us, .section-our-team{
    	padding-top: 20px;
    	padding-bottom: 30px;
	}

	.section1 .pad1{width: 26%;}

	.ots-1{
    	padding-top: 20px;
    	padding-left: 20px;
	}
	
	.p-button{
		display: block;
		margin-left: 0px;
		margin-top: 10px;
	}

	.call-to-action{height: 160px;}

	.info, .company, .others, .newsletter{
    	padding: 10px;
    	width: 45%;
	}

	.margin{margin-left: 0px;}

	.newsletter input{
		width: 200px;
		background-position: 180px;
	}

	.info-tx, .info-tx .info-tx-tx{width: initial;}

	footer{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.top-footer{padding-bottom: 25px;}
}

@media screen and (max-width: 768px){
	.ots{margin-top: 20px;}

	.text{font-size: 30px;}

	.ots button{margin-top: 20px;}

	.line{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.text2{
    	width: 95%;
    	font-size: 17px;
	}

	.section, .section1{margin-top: 20px;}

	.section .pad{width: 90%;}

	.section .pad img {width: 10%;}

	.text3{
		margin: 0 auto;
		margin-top: 25px;
		font-size: 17px;
	}

	.section-heading{font-size: 25px;}

	.section1 .pad1 {width: 90%;}

	.call-to-action{height: 145px;}

	.tx-1{font-size: 18px;}

	.tx-2{font-size: 13px;}

	.p-button button{
    	width: initial;
    	height: initial;
    	padding: 10px;
	}

	.info, .company, .others, .newsletter{width: 95%;}

	.text-k{float: none;}

	.soc{
		float: none;
		margin-top: 10px;
	}

	.bottom-footer{margin-top: 20px;}
}